params {
   LDAK = "/exports/dtaliun/PheWeb/ldak5.linux"
   ref_panel = "/exports/dtaliun/PheWeb/ldsc/1000G_EUR_Phase3_plink"
   columns {
      pvalue = "pval"
      effect = "beta"
      snp = "ID"
      effect_allele = "ALT"
      other_allele = "REF"
   }
   no_effect = 0
}

process {
// uncomment "slurm" when running on SLURM cluster. Change "queue" as needed. 
//   executor = "slurm"
   executor = "local"
   queue = "main"
   withLabel: "small_mem" {
      cpus = 1
      time = "2d" 
      memory = "8GB"
   }
   withLabel: "big_mem" {
      cpus = 1
      time = "2d"
      memory = "16GB"         
   }
   withLabel: "high_cpu" {
      cpus = 22
      time = "2d"
      memory = "44GB"
   }
}

executor {
   $slurm {
      queueSize = 1000
   }
   $local {
      cpus = 22 // set number of CPUs to use when running on a single machine
   }
}
